:root {
    --nav-height: 60px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav-bar {
    width: 100%;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    background-color: #00daff;
}

.nav-bar h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 24px;
}

.body {
    height: calc(100% - var(--nav-height));
    width: 100%;
    position: absolute;
    top: var(--nav-height);
    display: flex;
    flex-direction: column;
}

arcgis-map {
    height: 65%;
    width: 100%;
}

.chart-container {
    height: 35%;
    width: 100%;
}
