body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav-bar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: lightyellow;
}

.nav-bar h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 24px;
}

.body {
    height: calc(100% - 50px);
    width: 100%;
    position: absolute;
    top: 50px;
    flex-direction: column;
}

arcgis-map {
    height: 60%;
    width: 100%;
    flex: 1 1 auto;
}

.chart-container {
    height: 30%;
    width: 100%;
    flex: 1 1 auto;
}

#timeSliderContainer {
    width: 100%;
    height: 89px;
    z-index: 20;
    flex-grow: 0;
}
