:root {
    --nav-height: 60px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    height: 100%;
    width: 100%;
    position: absolute;
}

.nav-bar {
    width: 100%;
    height: var(--nav-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #00daff;
}

.nav-bar h1 {
    margin: 0;
    padding: 0 20px;
    font-size: 24px;
}

.nav-bar .nav-buttons {
    display: flex;
    gap: 10px;
    margin-right: 20px;
}

.nav-bar .icon-button {
    background: rgba(255, 255, 255, 0.45);
    border: none;
    cursor: pointer;
    padding: 4px;
    display: flex;
    align-items: center;
    border-radius: 50%;
}

.body {
    height: calc(100% - var(--nav-height));
    width: 100%;
    position: absolute;
    top: var(--nav-height);
    display: flex;
    flex-direction: column;
}

arcgis-map {
    height: 65%;
    width: 100%;
    border-bottom: 2px solid black;
}

.chart-container {
    height: 35%;
    width: 100%;
}

.centered-message {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}
